body {
  font-size: 16px;
  font-family: 'Hevletica', sans-serif;
}

/** HEADER **/
#header-nav .container{
	margin-left: 2px;
}

#header-nav {
  background-color: #A0A0A0;
  border-radius: 0;
  border: 0;
}

#nav-list{
	background-color: #D3D3D3;
}

.navbar-brand h1 { /* Restaurant name */
  /*font-family: 'Lora', serif;*/
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: 	#000000;  
  font-weight: bold;
  text-align: center;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
/* END HEADER */

.sectionTitle{
	font-weight: bold;
}

#chickenParagraph{
	background-color: #A0A0A0;
	padding: 10px;
	font-size: 1.5em;
}
.menuContent{
	MARGIN: 15PX;
/*	margin-left: 15px;
	margin-right: 15px;*/
}

